<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988425067473-ljpegktp7ae95b035l1rlsds6r27c34a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988425067473-ljpegktp7ae95b035l1rlsds6r27c34a</string>
	<key>API_KEY</key>
	<string>AIzaSyAexCsfdf3pfjcxPeXBaCpXsVs9zy4Rz7c</string>
	<key>GCM_SENDER_ID</key>
	<string>988425067473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mustafapala.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-6d3e9</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-6d3e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988425067473:ios:c2bbf61e34c6973c781ef0</string>
</dict>
</plist>